# Файлы конфигурации
config.py

# Файлы учетных данных
credentials.json

# Лог-файлы
*.log

# Временные файлы
*.tmp

# Файлы операционной системы
.DS_Store
Thumbs.db

# Другие файлы, которые не нужно отслеживать
README.md~